{:site-title "Deraen's blog"
 :author "Juho Teperi"
 :author-email "juho.teperi@iki.fi"
 :base-url "http://deraen.github.io/"
 :language "en"
 :keywords #{"clojure" "clojurescript" "blog"}
 :description ""}
